
    .jumbotron {
      background: #808080;
      color: #ffffff;
      border-radius: 0px;
    }
    .jumbotron-in { padding-top: 24px;
      padding-bottom: 24px; }

      .jumbotron small {
        color: #ffffff;
      }
      .h1 small {
        font-size: 24px;
      }

      .strongFont{
        color:#C90805 ;
        font-size: 28px;
        font-style: italic;
      }

      .carouselImage{
        border-radius: 50%;width: 100%;max-height: 300px;  
      }
      

      form.ng-pristine {
        background-color:white;
      }

      input.ng-valid, textarea.ng-valid {
        background-color: lightgreen;
      }
      input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
        background-color: pink; 
      }

      .contactusCarousel{
        width: 350px;background: transparent;margin-top: 50px;
      }