.registration-body{
background-color:	#700000  	;
}

.media:nth-child(odd){
  background-color: #66FF99;
}

#page{
  font-style: italic;
  font-family: monospace;
}

.media:nth-child(even){
  background-color: #FFFF99;
}
.all-testimonial-body{
  width: 1200px;
  margin-left: 180px;
  border-radius: 15px;
}

.button-submit{
  margin-left: 350px;
}
.testimonial-header {
      background: #808080;
      color: #ffffff;
      font-style: normal;
      font-family: Calibri;
    margin-bottom: 20px;
}
.testimonial-title {
    color: #fff;
    font-weight: 300;
    font-size: 40px;
    line-height: 1.1;
    margin: 21px auto;
    padding-right: 64px;
}

#contact-info{
  text-align: center;
}
.card {
  background: white;
  width: 100%;
  max-width: 850px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  text-align: left;
  position: relative;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

@media all and (max-width: 400px) {
  main {
    width: 100%;
  }
}


.input-r {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 100;
  color: #475B62;
  border: 1px solid #C5C5C5;
  border-radius: 4px;
  outline: 0;
}



.btn {
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-size: 400;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #C61C6F;
    color: white;
    background-color: #2D8BCF;
    background-size: 18px 18px;
    min-width: 28px;
    min-height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}




.btn-pick {
  background: #2D8BCF url(../images/icons/icon_dice.png) 5px center no-repeat;
  background-size: 20px 20px;
  padding: 5px 5px 5px 30px;
  font-size: .8em;
  margin: 0 auto;
}

.btn-reset {
  background: #CB4B19 url(../images/icons/icon_reset.png)  5px center no-repeat;
  background-size: 20px 20px;
  padding: 5px 5px 5px 50px;
}


/*buttons*/


@media all and (max-width: 700px) {
  .search .formgroup {
    width: 50%;
  }

  .search .buttons {
    width: 100%;
    float: right;
  }
}

@media all and (max-width: 550px) {
  .search .formgroup {
    width: 100%;
  }
}

/* user List Styles */


@media all and (max-width: 600px) {
  .userlist li {
    width: 100%;
  }

  .userlist  .info  {
    width: 70%;
  }
}



input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

.ng-invalid .btn {
  background: gray;
}

.error {
  color: red;
  padding-bottom: 10px;
}
