<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Report Item - NUFinder</title>
 <link rel="stylesheet" type="text/css" href="../css/bootstrap-3.3.7.css">
 <link rel="shortcut icon" href="../images/logo.jpg" type="image/jpg"/>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
 <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
 <script type="text/javascript" src="../js/angular-1.4.4.js"></script>
 <link rel="stylesheet" type="text/css" href="../css/footer.css">
 <script src="../js/new/angularfire.js"></script>

 <script>
  var $j = jQuery.noConflict();
  $j(document).ready(function(){
    $j(".datepicker").datepicker({
      format: "mm/dd/yyyy",
      autoclose: true, 
      todayHighlight: true,
      orientation: 'bottom'
    });
  });

  var config = {
    apiKey: "AIzaSyBbaKF-ijGLlCvMJOuF2iUHtSv7B80r8N4",
    authDomain: "contactlist-2392c.firebaseapp.com",
    databaseURL: "https://contactlist-2392c.firebaseio.com",
    storageBucket: "contactlist-2392c.appspot.com",
    messagingSenderId: "74462320695"
  };
  firebase.initializeApp(config);


</script>
<link rel="stylesheet" type="text/css" href="../css/reportItem.css">
</head>

<body ng-controller="itemsCtrl">
  <nav class="navbar navbar-default navbar-inverse" style="margin-bottom: 0px;border-radius: 0px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="step-one" href="../index.html" style="color:#dcbd2f;font-size: 20px;font-weight: bold;"><span class="glyphicon glyphicon-screenshot" style="color: #dcbd2f;margin-right: 5px;"></span>NUFinder</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="dropdown">
           <a href="../index.html">Home</a>
         </li>

         <li class="dropdown" id="step-two">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="reportItem.html">Report Found Items</a></li>
           </ul>
         </li>

         <li class="dropdown" id="step-three">
           <a href="search.html">Search Item</a>
         </li>

         <li class="dropdown">
           <a href="userStories.html">User Stories</a>
         </li>  

         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href ="feedback.html">Feedback</a></li>
             <li role="separator" class="divider"></li>
             <li><a href ="contactus.html">Contact Us</a></li>
           </ul>
         </li>   
         <li class="dropdown">
          <a href="userRegistration.html">Register</a>
        </li> 

      </ul>

      <button id='loginButton' class="btn btn-default pull-right" style="margin-top: 8px;color: #44b4dc;" data-toggle="modal" data-target="#loginModal" data-ng-show="!loggedInUserUID" >Login</button>
      <button id='logoutButton' class="btn pull-right" style="margin-top: 8px;color: #000;margin-right: 10px;background-color: #dcbd2f;" data-ng-click="signoutEmailUser();" data-ng-show="loggedInUserUID">Logout</button>


    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <ul class="breadcrumb">
       <li><a href="../index.html">Home</a></li>
       <li class="active">Report Item</li>
     </ul>
   </div>
   <div class="col-xs-12">
     <h3>Report an Item</h3>
     <hr>
   </div>
 </div>

 <div class="row row-content">

  <!-- Creating same fields as Ujjval's form -->
  <div class="col-md-6">
    <form name="searchForm" >
      <div class="form-group">
        <label for="category">Category:*</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <select name="itemCategory" id="itemCategory" class="form-control"  ng-model="itemCategory" required="required">
            <option selected="selected" value="">~Select One~</option>
            <option value="Architectural, Engineering, Design Print">Architectural, Engineering, Design Print</option>
            <option value="Assorted Cloths, Laundry Bags">Assorted Cloths, Laundry Bags</option>
            <option value="Backpack, Bookbag, Knapsack">Backpack, Bookbag, Knapsack</option>
            <option value="Beepers, Pagers">Beepers, Pagers</option>
            <option value="Bicycles">Bicycles</option>
            <option value="Blazers, Coats, Jackets, Overcoats">Blazers, Coats, Jackets, Overcoats</option>
            <option value="Books, Journals, Magazines">Books, Journals, Magazines</option>
            <option value="Bracelets">Bracelets</option>
            <option value="Briefcase">Briefcase</option>
            <option value="Brooches, Medals, Pins">Brooches, Medals, Pins</option>
            <option value="Cameras - Still, Digital, Video">Cameras - Still, Digital, Video</option>
            <option value="Canes, Crutches, Walkers">Canes, Crutches, Walkers</option>
            <option value="Canvas, Duffel, Sports Bag">Canvas, Duffel, Sports Bag</option>
            <option value="CD, DVD, MD, MP3 Players, Cassette Players">CD, DVD, MD, MP3 Players, Cassette Players</option>
            <option value="Cellular, Mobile Phones, Phones, Walkie Talkies">Cellular, Mobile Phones, Phones, Walkie Talkies</option>
            <option value="Certificates, Degrees, Diplomas, Titles">Certificates, Degrees, Diplomas, Titles</option>
            <option value="Chains, Necklaces">Chains, Necklaces</option>
            <option value="Check, Money Order">Check, Money Order</option>
            <option value="Computer Disks, Memory Sticks/Cards, etc">Computer Disks, Memory Sticks/Cards, etc</option>
            <option value="Computers">Computers</option>
            <option value="Daytimers, Organizers">Daytimers, Organizers</option>
            <option value="Dental Related">Dental Related</option>
            <option value="Dopp Kit, Makeup Bag">Dopp Kit, Makeup Bag</option>
            <option value="Drawings, Antique Prints">Drawings, Antique Prints</option>
            <option value="Dresses, Gowns, Skirts">Dresses, Gowns, Skirts</option>
            <option value="Earrings">Earrings</option>
            <option value="Electronic - Miscellaneous Other">Electronic - Miscellaneous Other</option>
            <option value="Electronic Organizers - Palm Pilot, Blackberry, etc">Electronic Organizers - Palm Pilot, Blackberry, etc</option>
            <option value="Film - 35mm, Digital, Negatives">Film - 35mm, Digital, Negatives</option>
            <option value="Furniture">Furniture</option>
            <option value="Garment Bags">Garment Bags</option>
            <option value="Glasses, Sunglasses, Cases and Binoculars">Glasses, Sunglasses, Cases and Binoculars</option>
            <option value="Gloves, Mittens, Scarfs">Gloves, Mittens, Scarfs</option>
            <option value="GPS, Radar Detector">GPS, Radar Detector</option>
            <option value="Hardware, Tools">Hardware, Tools</option>
            <option value="Hats">Hats</option>
            <option value="Hearing Aids">Hearing Aids</option>
            <option value="Household Products">Household Products</option>
            <option value="IDs, Credit Cards, Licenses, Passports">IDs, Credit Cards, Licenses, Passports</option>
            <option value="Jewelry - Miscellaneous">Jewelry - Miscellaneous</option>
            <option value="Keys">Keys</option>
            <option value="Laptop Case">Laptop Case</option>
            <option value="Lighters, Pipes, Smoking Related">Lighters, Pipes, Smoking Related</option>
            <option value="Luggage">Luggage</option>
            <option value="Media - Music: Cassettes, CDs, Records">Media - Music: Cassettes, CDs, Records</option>
            <option value="Media - Video: DVDs, Tapes">Media - Video: DVDs, Tapes</option>
            <option value="Medical Devices, Accessories">Medical Devices, Accessories</option>
            <option value="Money">Money</option>
            <option value="Other">Other</option>
            <option value="Paintings">Paintings</option>
            <option value="Pants">Pants</option>
            <option value="Pens">Pens</option>
            <option value="Personal Accessories - Other">Personal Accessories - Other</option>
            <option value="Photographs, Photo Albums">Photographs, Photo Albums</option>
            <option value="Pocketbooks, Handbags, Purses">Pocketbooks, Handbags, Purses</option>
            <option value="Radios, Televisions, VCRs">Radios, Televisions, VCRs</option>
            <option value="Rings">Rings</option>
            <option value="Sandals, Shoes">Sandals, Shoes</option>
            <option value="Sculptures, Statues">Sculptures, Statues</option>
            <option value="Shirts, Blouses">Shirts, Blouses</option>
            <option value="Skateboard, Razor Scoter">Skateboard, Razor Scoter</option>
            <option value="Sports - Miscellaneous Other">Sports - Miscellaneous Other</option>
            <option value="Suitcase">Suitcase</option>
            <option value="Sweaters, Sweatshirts">Sweaters, Sweatshirts</option>
            <option value="Tickets - Concert/Theatre">Tickets - Concert/Theatre</option>
            <option value="Tickets - Sports Event">Tickets - Sports Event</option>
            <option value="Tickets - Travel">Tickets - Travel</option>
            <option value="Umbrellas">Umbrellas</option>
            <option value="Video Games">Video Games</option>
            <option value="Video Games Systems">Video Games Systems</option>
            <option value="Wallet">Wallet</option>
            <option value="Watches">Watches</option>
            <option value="Wheelchair">Wheelchair</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
      <div class="form-group">

      </div>
      <div class="form-group">
        <label for="what">Item Name:*</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-question-sign"></i></span>
          <input type="text" class="form-control inputStyle"  ng-model="what" name="what" id="what" placeholder="Enter the name of item that you have found" required="required">
        </div>
      </div>
      <div class="form-group">
        <label for="where">Item Found Location:*</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
          <input type="text" name="where" class="form-control"  id="autocomplete" ng-model="where" placeholder="Enter the location of the found item" required="required">
        </div>
      </div>
      <div class="form-group">
        <label for="where">Item Found Date:*</label>
        <div class="input-group">
          <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span>
          </div> 
          <input type="text" name="when" class="form-control datepicker"  data-date-end-date="0d" id="when" ng-model="when" placeholder="MM/DD/YYY" required="required">

        </div>
      </div>
      <hr>

      <div class="form-group">
        <h3 class="form-group">Your Information</h3>
        <label for="firstName">First Name:*</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text"  class="form-control"  id="firstName" name="firstName" ng-model="firstName" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:*</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text"  class="form-control"  id="lastName" name="lastName" ng-model="lastName" readonly>
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone:*</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
          <input type="Phone" name="phoneNumber" class="form-control"  ng-minlength="10" ng-maxlength="10" ng-model="phoneNumber" readonly>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" ng-click="addItems()" class="btn btn-primary" id="submitBtn">
          Report Item</button>
        </div>

        <p ng-show='showLoginP'>Kindly login to report an item located. <a style="cursor: pointer;" data-toggle="modal" data-target="#loginModal">Login here</a></p>
      </form>  
    </div>

    <div>
     <div id="map" style="width: 550px; height: 300px;"></div>  
   </div>
 </div>

</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap-3.3.7.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCakk_YWkvewqIfUeIxkhIkkWR3W4D0DLc&libraries=places" type="text/javascript"></script>
<script>

  var mapOptions ={

   center: new google.maps.LatLng(37.7831, -122.4039),
   zoom: 12,
   mapTypeId: google.maps.MapTypeId.ROADMAP

 };
 var map= new google.maps.Map(document.getElementById('map'),mapOptions);

 var acOptions ={

   types: ['establishment']
 };
 var autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
 autocomplete.bindTo('bounds',map);
 var infoWindow = new google.maps.InfoWindow();
 var marker = new google.maps.Marker({

   map: map
 });

 google.maps.event.addListener(autocomplete,'place_changed',function(){

   infoWindow.close();
   var place = autocomplete.getPlace();

   if(place.geometry.viewport)
   {

    map.fitBounds(place.geometry.viewport);
  }
  else
  {
   map.setCenter(place.geometry.location);
   map.setZoom(17);
 }
 marker.setPosition(place.geometry.location);
 infoWindow.setContent('<div><strong>'+ place.name+'</strong><br>');
 infoWindow.open(map,marker);
 google.maps.event.addListener(marker,'click', function(e){

  infoWindow.open(map,marker);
});
})


</script>

<script type="text/javascript">
  var app = angular.module('myApp', ['firebase']);
  app.controller('itemsCtrl', ['$scope','$firebaseArray', '$timeout',function($scope, $firebaseArray, $timeout) {
  $scope.loggedInUserUID='';
  $scope.firstname='';
  $scope.lastname='';
  $scope.phone='';


  firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
    $timeout(function(){
      $scope.loggedInUserUID = user.uid;
      $scope.retrieveData();
    },1);
    
  } else {
    $timeout(function(){
      $scope.loggedInUserUID = user;
    },1);
  }
});



  var user = firebase.auth().currentUser;
  var name, email, photoUrl, uid;

  if (user != null) {
    name = user.displayName;
    email = user.email;
    photoUrl = user.photoURL;
    uid = user.uid;   

    console.log('auth.currentUser --> Name: '+name+' Email: '+email+' PhotoURL: '+photoUrl+' uid: '+uid);
  }

  $scope.createNewEmailUser=function() {
    firebase.auth().createUserWithEmailAndPassword($scope.emailRegister, $scope.passRegister)

    .then(function(user){
      $('#loginModal').modal('hide');
    })

    .catch(function(error){
          var errorCode = error.code;
          var errorMessage = error.message;
        });

  }

  $scope.loginEmailUser=function() {

    firebase.auth().signInWithEmailAndPassword($scope.emailLogin, $scope.passLogin)

    .then(function(user){
      $('#loginModal').modal('hide');

    })


    .catch(function(error){
          
          var errorCode = error.code;
          var errorMessage = error.message;
          
        });
  }

  $scope.loginWithGoogle = function() {
        var provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth().signInWithPopup(provider)
        .then(function(result) {
          var user = result.user;
          $('#loginModal').modal('hide');
        })
        .catch(function(error) {
        });
      }
      $scope.signoutEmailUser=function(){
        firebase.auth().signOut().then(function() {
        $('#loginModal').modal('show');
      }, function(error) {
      });
      }



      $scope.retrieveData=function(){

        var userId = firebase.auth().currentUser.uid;

    return firebase.database().ref('/users/' + userId).once('value').then(function(snapshot) {

      $scope.retrievedUserDetails=JSON.stringify(snapshot.val());
      $scope.stringifiedData =JSON.parse($scope.retrievedUserDetails);      
      $scope.finalData=Object.values($scope.stringifiedData);

      $scope.firstname=$scope.finalData[0];
      $scope.lastname=$scope.finalData[1];
      $scope.phone=$scope.finalData[2];
        
        $scope.firstName=$scope.firstname;
        $scope.lastName=$scope.lastname;
        $scope.phoneNumber=$scope.phone;
      });

  };

var rootRef = firebase.database().ref();

$scope.data=$firebaseArray(rootRef);

$scope.addItems=function() {

  $scope.showLoginP=true;

  if($scope.loggedInUserUID!=null && $scope.loggedInUserUID!='' && $scope.loggedInUserUID!=undefined){
    firebase.database().ref('items/' + 'item' + new Date().getTime()).set({
      category: $scope.itemCategory,
      uid: $scope.loggedInUserUID,
      itemName: $scope.what,
      itemLocation: $scope.where,
      itemDate: $scope.when,
      itemCreatedBy: $scope.firstname+' '+$scope.lastname,
      itemCreatedContact: $scope.phone
    }).then(function(rootRef){
      console.log('Added item to database');
      
      $timeout(function(){
      $scope.showLoginP=false;
      $scope.itemCategory='';
      $scope.what='';
      $scope.where='';
      $scope.when='';
      $('#itemAddedModal').modal('show');

      
    },1);

    });
  }
  else{
     $timeout(function(){
      $scope.showLoginP=true;
      },1);
  }
  
};
}]);
</script>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login to <span style="color:#dcbd2f">NUFinder</span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="well">
              <form id="loginNUFinderForm">
                <div class="form-group">
                  <label for="username" class="control-label" required>Username</label>
                  <input type="email" class="form-control" id="username" name="username" required="" title="Please enter you username" placeholder="abc@gmail.com" data-ng-model="emailLogin">
                  <span class="help-block"></span>
                </div>
                <div class="form-group">
                  <label for="password" class="control-label" required>Password</label>
                  <input type="password" class="form-control" id="password" name="password" required="" title="Please enter your password" data-ng-model="passLogin">
                </div>
                <div id="loginError" class="alert alert-error hide">Wrong username or password</div>
              </form>

              <button type="submit" class="btn btn-success btn-block" data-ng-click="loginEmailUser();" data-dismiss="modal">Login</button>
              <button type="submit" class="btn btn-success btn-block" data-ng-click="loginWithGoogle();" data-dismiss='modal'>Google Login</button>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="well">
              <form id="loginNUFinderForm">
                <div class="form-group">

                 <p class="lead">Register now for <span class="text-success">FREE</span></p>
                 <ul class="list-unstyled" style="line-height: 2">
                  <li><span class="glyphicon glyphicon-ok text-success"></span> See all your posts</li>
                  <li><span class="glyphicon glyphicon-ok text-success"></span> Create new post</li>
                  <li><span class="glyphicon glyphicon-ok text-success"></span> Search all latest posts</li>
                  <li><span class="glyphicon glyphicon-ok text-success"></span> Use location for posts</li>
                  <li><span class="glyphicon glyphicon-ok text-success"></span> Upload images of items</li>
                  <li><span class="glyphicon glyphicon-ok text-success"></span> Find your lost items! </li>
                </ul>
              </div>
              <button type="submit" class="btn btn-info btn-block" onclick="window.location='userRegistration.html'">Register for NUFinder</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="itemAddedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title" id="myModalLabel"><span>Item added successfully!</span></h4>
    </div>
  </div>
</div>
</div>

<!-- Login Modal Ends-->

<footer class="footer-distributed">
      <div class="footer-left">
        <h3>NU<span>Finder</span></h3>
        <p class="footer-links">
          <a href="../index.html">Home</a>
          ·
          <a href="userStories.html">Testimonials</a>
          ·
          <a href="contactus.html">Contact</a>
        </p>
        <p class="footer-company-name">NUFinder © 2016</p>
      </div>
      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>360 Huntington Ave</span> Boston, MA 02115</p>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <p>+1 8575 2206 12</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:meanstackdevelopers@gmail.com">meanstackdevelopers@gmail.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>About the company</span>
          We at NUFinder, aim to help the Northeastern community by locating and reporting all types of lost items.
        </p>
        <div class="footer-icons">
          <a href="https://www.facebook.com/"><img src="../images/facebook.png"></a>
          <a href="https://www.twitter.com"><img src="../images/twitter.png"></a>
          <a href="https://www.linkedin.com"><img src="../images/linkedin.png"></a>
          <a href="https://www.github.io"><img src="../images/github.png"></a>
        </div>
      </div>
    </footer>
</body>
</html>