<html>

<head>
   <title>Angular JS Modules</title>
   <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   <script src = "controller.js"></script>
   <style>
      table, th , td {
         border: 1px solid grey;
         border-collapse: collapse;
         padding: 5px;
      }

      table tr:nth-child(odd) {
         background-color: #f2f2f2;
      }

      table tr:nth-child(even) {
         background-color: #ffffff;
      }

      .ClassA{
       background-color:yellow;
       color:red;
    }
    .ClassB{
       background-color:red;
       color:yellow;
    }

    .ClassC{
     background-color:green;
     color:blue;
  }

  .pending-delete {
    background-color: pink
 }
</style>

</head>'

<body>

   <!-- Part 1 code -->
   <h2>AngularJS Sample Application</h2>
   <div ng-app = "myApp" ng-controller = "myController">
      <table border = "0">
         <tr>
            <td>Enter first name:</td>
            <td><input type = "text" ng-model = "firstName"></td>
         </tr>
         
         <tr>
            <td>Enter last name: </td>
            <td><input type = "text" ng-model = "lastName"></td>
         </tr>
         
         <tr>
            <td>FullName: </td>
            <td ng-bind="firstName+' '+lastName"></span></td>
         </tr>
         
         <tr>
            <td>Subject:</td>
            <td>
               <table>
                  <tr>
                     <th>Name</th>
                     <th>Marks</th>
                  </tr>
                  <tr ng-repeat = "s in subjects">
                     <td>{{s.subName}}</td>
                     <td>{{s.marks}}</td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <!-- Part 1 code -->
      <br>
      <!-- Part 2 code -->
      <form name = "studentForm">
         <table border = "0">
            <tr>
               <td>Enter first name:</td>
               <td><input name = "firstname" type = "text" ng-model = "firstName1" required>
                  <span style = "color:red" ng-show = "studentForm.firstname.$invalid">
                     <span>First Name is required.</span>
                  </span>
               </td>
            </tr>

            <tr>
               <td>Enter last name: </td>
               <td><input name = "lastname"  type = "text" ng-model = "lastName1" required>
                  <span style = "color:red" ng-show = "studentForm.lastname.$invalid">
                     <span ng-show = "studentForm.lastname.$error.required">Last Name is required.</span>
                  </span>
               </td>
            </tr>

            <tr>
               <td>Email: </td><td><input name = "email" type = "email" ng-model = "email" required>
               <span style = "color:red" ng-show = "studentForm.email.$invalid">
                  <span ng-show = "studentForm.email.$error.required">Email is required.</span>
                  <span ng-show = "studentForm.email.$error.email">Invalid email address.</span>
               </span>
            </td>
         </tr>

         <tr>
            <td>
               <button ng-click="reset()">Reset</button>
            </td>
            <td>
               <button ng-disabled="studentForm.firstname.$invalid ||studentForm.lastname.$invalid ||studentForm.email.$invalid" >Submit</button>
            </td>
         </tr>

         

      </table>
      <!-- Part 2 code -->
      <br>
      <!-- Part 3 code -->
      <table border = "0">
         <tr>
            <td>Name in Upper Case: </td><td>{{firstName+' '+lastName | uppercase}}</td>
         </tr>
         
         <tr>
            <td>Name in Lower Case: </td><td>{{firstName+' '+lastName | lowercase}}</td>
         </tr>
         
         <tr>
            <td>fees: </td><td>{{fees | currency}}</td>
         </tr>
         <tr>
         <td>To filter subject below,enter subject name: </td>
            <td><input type = "text" ng-model = "filterSubjectName"></td>
         </tr>
         <tr>
            <td>Subject:</td>

            <td>
               <ul>
                  <li ng-repeat = "s in subjects | filter:filterSubjectName">
                     {{ 'Subject Name:'+ s.subName + ', Marks Secured:' + s.marks }}
                  </li>
               </ul>
            </td>
         </tr>
      </table>
      <!-- Part 3 code -->
      <br>
      <!-- Part 4 code -->
      <table border = "0">
         <tr>
            <td><input type = "checkbox" ng-model = "disableButton">Disable Button</td>
            <td><button ng-disabled = "disableButton">Click Me!</button></td>
         </tr>

         <tr>
            <td><input type = "checkbox" ng-model = "showButton">Show Button</td>
            <td><button ng-show = "showButton">Click Me!</button></td>
         </tr>

         <tr>
            <td><input type = "checkbox" ng-model="hideButton">Hide Button</td>
            <td><button ng-hide = "hideButton">Click Me!</button></td>
         </tr>

         <tr>
            <td><p>Total click: {{ counter }}</p></td>
            <td><button ng-click = "counter = counter + 1">Click Me!</button></td>
         </tr>
      </table>
      <!-- Part 4 code -->
   </form>

   <!-- Part 5 code -->


   <!-- Part 5 code -->

   <!-- Part 6 code -->
   <input type="text" placeholder="enter a color name" ng-model="color">

   <div>

     <input type="checkbox" ng-model="checkbox"/>
     <span ng-show="checkbox"/><span>(will be deleted)</span>
  </div>
  <p>
     <div ng-hide="color== 'red'">I will hide if the color is set to 'red'.</div>	        
  </div>
  <!-- Part 6 code -->

</body>
</html>